@page
@model IndexModel
@{
}

<form method="post">
	@Html.AntiForgeryToken()
	<input type="text" id="inputText" placeholder="Product title" />
</form>

<ul id="selectedProductsList"></ul>

<form id="searchRecipesForm" method="post" asp-page="Recipes/Index" asp-page-handler="BySelectedProducts">
	<input type="hidden" id="productsIdsRow" name="productsIdsRow"/>
	<input type="number" name="otherProductsCount" value="5" />
	<input type="hidden" name="pageIndex" value="1" />
	<button id="findRecipes" type="submit" disabled>Найти рецепты</button>
</form>

@section Scripts{
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
	<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
	<script type="text/javascript">
		$(function () {
			var selectedProductsIds = [];

			$("#inputText").autocomplete({
				select: function (e, i) {
					var selectedProductId = i.item.value.id.value;

					if (selectedProductsIds.indexOf(selectedProductId) !== -1)
					{
						return false;
					}

					selectedProductsIds.push(selectedProductId);

					var selectedProductTitle = i.item.value.title;

					$("#selectedProductsList").append("<li id='" + selectedProductId + "'>" + selectedProductTitle + "<span class='delete-product' data-productid='" + selectedProductId + "' style='cursor:pointer; margin-left: 5px;'>&times;</span></li>");

					$("#inputText").val("");

					updateFindRecipesButtonState();

					return false;
				},
				source: function (request, response) {
					$.ajax({
						url: '/Index?handler=ProductsAutoComplete',
						beforeSend: function (xhr) {
							xhr.setRequestHeader("XSRF-TOKEN",
								$('input:hidden[name="__RequestVerificationToken"]').val());
						},
						data: { "productTitlePrefix": request.term },
						type: "POST",
						success: function (data) {
							response($.map(data, function (item) {
								return {
									label: item.title,
									value: item
								};
							}))
						},
					});
				},
				position: { collision: "flip" },
				minLength: 1
			});

			$("#findRecipes").on('click', function () {
				$("#productsIdsRow").val(selectedProductsIds.join(','));
			});

			$("#selectedProductsList").on('click', '.delete-product', function () {
				var productIdToRemove = $(this).data('productid');

				console.log("Id to remove: " + productIdToRemove);

				console.log("Ids count before deleting: " + selectedProductsIds.length);
				selectedProductsIds = selectedProductsIds.filter(id => id !== productIdToRemove);
				console.log("Ids count after deleting: " + selectedProductsIds.length);

				$(this).parent().remove();

				updateFindRecipesButtonState();
			});

			function updateFindRecipesButtonState() {
				if (selectedProductsIds.length > 0) {
					$("#findRecipes").prop('disabled', false);
				} else {
					$("#findRecipes").prop('disabled', true);
				}
			}
		});
	</script>
 }





