@page
@model MikesRecipes.Web.Pages.Recipes.IndexModel
@{
	ViewData["Title"] = "Recipes";
}

<h2>Найдено рецептов: @Model.Recipes?.Count()</h2>
<ul>
	@if (Model.Recipes is not null)
	{
		@foreach (var item in Model.Recipes)
		{
			<li>
				<a target="_blank" href="@item.Url">@item.Title</a>
			</li>
		}
	}
</ul>
